<div class="bakgeneral">
  <div class="radius">
    <div class="containerDetailAcceuil">
      <div class="welcome">WELCOME TO</div>
      <div class="titre">VLOR<br />TRADING<br />ACCADEMY</div>
      <div class="descripVTA">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, esse et!
        <br />
        Quibusdam, aut. Corrupti repellendus id odio quaerat labore dolorem.<br />
        Esse distinctio corrupti iure quam voluptatibus magnam soluta<br />
        consequatur enim.
      </div>
      <div style="margin-top: 35px; display: flex; position: relative">
        <div class="startFormation">COMMENCER LA FORMATION</div>
        <div class="containerFormationRealise">
          <div class="nbFormation">78</div>
          <div class="labelNbFormation">
            Formations <br />
            Realise
          </div>
        </div>
        <div class="containerPersonneForme">
          <div class="nbPersonneForme">236</div>
          <div class="labelNbPersonneForme">
            Persnnes <br />
            Formés
          </div>
        </div>
        <div class="containerSuvit">
          <div class="nbPersonneSuvit">43</div>
          <div class="labelNbPersonneSuvit">
            Groupe de<br />
            Coaching
          </div>
        </div>

        <div class="containerImgSlideNav">
          <div class="imgSlideNav imgSlideNav1"></div>
          <div class="imgSlideNav imgSlideNav2"></div>
          <div class="imgSlideNav imgSlideNav3"></div>
        </div>
      </div>
    </div>
    <!-- <img class="radiusb" src="vta3.png" alt="" srcset="" />-->
  </div>
</div>

<div class="containerImgHomeSlide">
  <img
    class="vlorImg"
    src="https://firebasestorage.googleapis.com/v0/b/learnings-6f4ce.appspot.com/o/vta%2Fvlor.jpg?alt=media&token=14d00b2e-dc1d-49a7-a370-2642194a173b alt="
    srcset=""
  />
</div>

<div class="containerFOrmation">
  <div class="formation">
    <div class="labelFormation">Formations</div>
    <div class="containerItemFormation">
      <div class="textFormation">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
        praesentium suscipit soluta assumenda, hic iusto quam! Laborum suscipit
        quod, delectus odio voluptatibus, est inventore in numquam nam minima
        rerum similique atque eligendi blanditiis amet. Nulla blanditiis
      </div>
      <div class="buyFormation">BUY</div>
      <!--
      <div class="itemFormation fGratuite">
        <div class="infos1ItemFormation"></div>
        <div class="infos2ItemFormation">
          <div class="titreFormation">Formation Gratuite</div>
          <div class="prixFormation">00 000f</div>
          <div class="buyFormation">buy</div>
        </div>
      </div>
      <div class="itemFormation fPresentelle">
        <div class="infos1ItemFormation"></div>
        <div class="infos2ItemFormation">
          <div class="titreFormation">Formation En Ligne</div>
          <div class="prixFormation">100 000f</div>
          <div class="buyFormation">buy</div>
        </div>
      </div>
      <div class="itemFormation fLigne">
        <div class="infos1ItemFormation"></div>
        <div class="infos2ItemFormation">
          <div class="titreFormation">Formation En presentielle</div>
          <div class="prixFormation">100 000f</div>
          <div class="buyFormation">buy</div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="detailFormation">
    <div class="detail1">
      <div class="detail3"></div>
      <div class="detail3-1"></div>
      <div class="detail2">
        <div class="detail2-1"></div>
      </div>

      <div class="detail4"></div>
      <div class="detail4-1"></div>
    </div>

    <div class="bottom-right-radius"></div>
  </div>
</div>
<div class="containerSgnaux2">
  <div class="childContainerSignaux">
    <div class="containerImageSigaux2">
      <div class="item1ImageSignaux">
        <img
          class="imgItem1ImageSignaux"
          src="../../assets/trade3.webp"
          alt=""
          srcset=""
        />
      </div>
      <div class="item2ImageSignaux">
        <img
          class="imgItem2ImageSignaux"
          src="../../assets/trade4.webp"
          alt=""
          srcset=""
        />
      </div>
      <div class="item3ImageSignaux">
        <img
          class="imgItem3ImageSignaux"
          src="../../assets/trade3.webp"
          alt=""
          srcset=""
        />
      </div>
      <div class="item4ImageSignaux">
        <img
          class="imgItem4ImageSignaux"
          src="../../assets/trade.webp"
          alt=""
          srcset=""
        />
      </div>
    </div>

    <div class="containerTextSignaux2">
      beneficier des meilleurs Signaux de trading

      <div class="btnSignaux">COMMENCER</div>
    </div>
  </div>
</div>
<div class="containerAffiliation2">
  <div class="childContainerAffiliation2">
    <div class="containerTextAffiliation2">
      AFFILIATION

      <div class="containerInfoAf containerInfoAf2">
        <div class="itemAf itemAf2">
          <div class="textIcoAf">
            <div class="icoAf" style="background: #b5504a"></div>
            <div class="titreItemAf">CODE</div>
          </div>

          <div class="descriIcoAf descriIcoAf2">
            obtenez votre code d'affiliation lors de l'achat de votre formation
          </div>
          <!--
          <div class="descriIcoAf descriIcoAf2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero sunt
            veritatis esse distinctio quos explicabo nulla qui dolorem illum
            enim ipsa minus ducimus, placeat libero voluptatum voluptates odio,
            dicta nostrum cupiditate obcaecati? Sit, aliquid cupiditate. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Laudantium sed
            molestias quibusdam deleniti. Repellat, expedita?
          </div>-->
        </div>
        <div class="itemAf itemAf2">
          <div class="textIcoAf">
            <div class="icoAf" style="background: #b54aa2"></div>
            <div class="titreItemAf">LIEN</div>
          </div>
          <div class="descriIcoAf descriIcoAf2">
            obtenez votre lien d'affiliation lors de l'achat de votre formation
          </div>
        </div>
        <div class="itemAf itemAf2">
          <div class="textIcoAf">
            <div class="icoAf" style="background: #50b54a"></div>
            <div class="titreItemAf">GAIN</div>
          </div>
          <div class="descriIcoAf descriIcoAf2">
            gagnez de l'argent quand une formation est achate grace à votre code
            ou lien d'affiliation
          </div>
        </div>
      </div>
      <div class="btnAffiliation2">COMMENCER</div>
    </div>

    <div class="containerImageAffiliation2">
      <div class="item1ImageAffiliation2">
        <img
          class="imgItem1ImageAffiliation2"
          src="../../assets/vlorvta2.jpg"
          alt=""
          srcset=""
        />
      </div>
    </div>
  </div>
</div>

<div class="container3">
  <h2 class="avis">Avis des personnes formées</h2>
  <div class="item1-container3">
    <div id="item1-item1-container3">
      <div class="item-materiel">
        <img
          src="../../assets/vlor.jpg"
          class="img-materiel-1"
          alt=""
          srcset=""
        />
        <h4>Franklin</h4>
        <div class="text3">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
          ipsum corporis voluptatum facere qui eius!
        </div>
      </div>
      <div class="item-materiel">
        <img
          src="../../assets/vlor.jpg"
          class="img-materiel-2"
          alt=""
          srcset=""
        />
        <h4>Yvant</h4>

        <div class="text3">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
        </div>
      </div>
      <div class="item-materiel">
        <img
          src="../../assets/vlor.jpg"
          class="img-materiel-3"
          alt=""
          srcset=""
        />
        <h4>Mc one</h4>

        <div class="text3">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
        </div>
      </div>
      <div class="item-materiel">
        <img
          src="../../assets/vlor.jpg"
          class="img-materiel-4"
          alt=""
          srcset=""
        />
        <h4>William</h4>

        <div class="text3">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
          ipsum corporis voluptatum facere qui eius!
        </div>
      </div>

      <div class="item-materiel">
        <img
          src="../../assets/vlor.jpg"
          class="img-materiel-1"
          alt=""
          srcset=""
        />
        <h4>Valdo</h4>
        <div class="text3">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
          ipsum corporis voluptatum facere qui eius!
        </div>
      </div>
      <div class="item-materiel">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/learnings-6f4ce.appspot.com/o/leo%2Fagrosfish2.jpeg?alt=media&token=932aa2e4-fcec-4d78-908b-34dd0a5644f5"
          class="img-materiel-2"
          alt=""
          srcset=""
        />
        <h4>Materiel 2</h4>

        <div class="text3">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
          ipsum corporis voluptatum facere qui eius!
        </div>
      </div>
      <div class="item-materiel">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/learnings-6f4ce.appspot.com/o/leo%2Fagrosfish3.jpeg?alt=media&token=ffc9c44d-92a2-4713-bab3-0e2f4770885e"
          class="img-materiel-3"
          alt=""
          srcset=""
        />
        <h4>Materiel 3</h4>

        <div class="text3">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
          ipsum corporis voluptatum facere qui eius!
        </div>
      </div>
      <div class="item-materiel">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/learnings-6f4ce.appspot.com/o/leo%2F111.jpeg?alt=media&token=42dc9900-073c-40b3-85a4-3c5f1fe53c02"
          class="img-materiel-4"
          alt=""
          srcset=""
        />
        <h4>Materiel 4</h4>

        <div class="text3">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
          ipsum corporis voluptatum facere qui eius!
        </div>
      </div>
    </div>

    <div class="container-next-prev">
      <div class="prev">prev</div>
      <div class="next">next</div>
    </div>
  </div>
</div>

<div class="containerCopiTrade">
  <div class="labelSignaux">Signaux De Trading</div>
  <div
    style="
      width: 100%;
      height: 500px;
      display: flex;
      margin-top: 40px;
      justify-content: space-between;
      align-items: center;
    "
  >
    <div class="containerItemCopiTrade center">
      <div
        class="center"
        style="
          flex-direction: column;
          height: 100%;
          width: 100%;
          justify-content: space-between;
          align-item: space-between;
          color: white;
        "
      >
        <div class="sGratuit">
          <div class="labelSingaux labelSingauxGratuit">
            <div class="icoTypeSignaux"></div>
            Signaux
          </div>
          <div class="descripSignaux descripSGratuit">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis,
            tenetur! Lorem ipsum dolor sit amet, consectetur adipisicing.
          </div>
        </div>

        <div class="sGratuit">
          <div class="labelSingaux labelSingauxGratuit">
            <div class="icoTypeSignaux"></div>
            Signaux Gratuit
          </div>
          <div class="descripSignaux descripSGratuit">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis,
            tenetur! Lorem ipsum dolor sit amet, consectetur adipisicing.
          </div>
        </div>
      </div>
      <div class="circleDesign1"></div>
      <div class="circleDesign2"></div>
      <div class="circleDesign3"></div>
      <div class="circleDesign4"></div>
    </div>
    <div
      class="containerCircleInfos"
      style="
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <div
        class="CircleInfos"
        style="
          width: 400px;
          height: 400px;
          border-radius: 200px;
          background-color: darkred;
        "
      ></div>
    </div>
    <div class="containerDetai">
      <div class="sAuto">
        <div class="labelSingaux labelAuto">
          <div class="icoTypeSignaux"></div>
          Signaux Automatqiue
        </div>
        <div class="descripSignaux descripSAuto">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis,
          tenetur! Lorem ipsum dolor sit amet, consectetur adipisicing.
        </div>
      </div>
      <div class="sManuel">
        <div class="labelSingaux">
          <div class="icoTypeSignaux"></div>
          Signaux Manuelle
        </div>
        <div class="descripSignaux descripMAn">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis,
          tenetur! Lorem ipsum dolor sit amet, consectetur adipisicing.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="containerAffiliation">
  <div class="labelAf">AFFILIATION</div>
  <div class="descripAf">
    Devenez une personne afflier à la <br />
    VLORD TRADING ACADEMY <br />
    et gagnez de l'argent
  </div>
  <div class="btnAf">COMMENCER</div>
  <div class="containerInfoAf">
    <div class="itemAf">
      <div class="icoAf" style="background: #b5504a"></div>
      <div class="titreItemAf">CODE</div>
      <div class="descriIcoAf">
        obtenez votre code d'affiliation <br />
        lors de l'achat de votre formation
      </div>
    </div>
    <div class="itemAf">
      <div class="icoAf" style="margin-top: 20%; background: #b54aa2"></div>
      <div class="titreItemAf">LIEN</div>
      <div class="descriIcoAf">
        obtenez votre lien d'affiliation <br />lors de l'achat de votre
        formation
      </div>
    </div>
    <div class="itemAf">
      <div class="icoAf" style="background: #50b54a"></div>
      <div class="titreItemAf">GAIN</div>
      <div class="descriIcoAf">
        gagnez de l'argent quand <br />
        une formation est achate grace à votre code ou lien d'affiliation
      </div>
    </div>
  </div>
</div>
<div class="containerFeature">
  <div
    style="
      width: 100%;
      /* height: 80%; */
      display: flex;
      flex-direction: column;
      align-items: center;
    "
  >
    <div class="avis">Avis des personnes formées</div>

    <div
      style="
        width: 71%;
        height: 81%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 55px;
        position: relative;
      "
    >
      <div class="prev">prev</div>
      <div
        class="containerItemFeature"
        style="
          display: flex;
          align-items: center;
          transform: scale(1.07);
          flex-direction: column;
          /*background: #838383;*/
          margin-right: 10px;
        "
      >
        <div class="containerPhoto">
          <div class="photoAvis" style="background: #ff8f8f">
            <img class="imgAvis" src="vlor.jpg" alt="" srcset="" />
          </div>
          <div class="nomAvis">Mc one</div>
        </div>
        <div class="containerPhoto" style="position: relative; right: 100px">
          <div class="photoAvis">
            <img class="imgAvis" src="vlor.jpg" alt="" srcset="" />
          </div>
          <div class="nomAvis">Mc one</div>
        </div>
        <div class="containerPhoto">
          <div class="photoAvis">
            <img class="imgAvis" src="vlor.jpg" alt="" srcset="" />
          </div>
          <div class="nomAvis">Mc one</div>
        </div>
      </div>

      <div class="containerTextAvis">
        <div class="nomAvisx">Mc one</div>
        <div class="textAvis">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
          nesciunt hic aperiam aspernatur autem reiciendis odit fugiat mollitia
          expedita, soluta sapiente assumenda id quo ullam obcaecati nemo unde
          ea cumque totam pariatur atque modi corrupti!
        </div>
      </div>
      <div
        class="containerItemFeature"
        style="
          display: flex;
          align-items: center;
          transform: scale(1.07);
          flex-direction: column;
          /* background: #838383; */
          margin-right: 10px;
        "
      >
        <div class="containerPhoto">
          <div class="photoAvis">
            <img class="imgAvis" src="vlor.jpg" alt="" srcset="" />
          </div>
          <div class="nomAvis">Mc one</div>
        </div>
        <div class="containerPhoto" style="position: relative; left: 100px">
          <div class="photoAvis">
            <img class="imgAvis" src="vlor.jpg" alt="" srcset="" />
          </div>
          <div class="nomAvis">Mc one</div>
        </div>
        <div class="containerPhoto">
          <div class="photoAvis">
            <img class="imgAvis" src="vlor.jpg" alt="" srcset="" />
          </div>
          <div class="nomAvis">Mc one</div>
        </div>
      </div>

      <div class="next">next</div>
    </div>
  </div>
</div>

<div class="screen">
  veillez ouvir la page sur un pc <br />
  la version mobile est indisponible pour l'instant
</div>
