.containerCopiTrade {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 15%;
  justify-content: center;
  overflow: hidden;
  background-color: #ffffff;
}

.labelSignaux {
  color: rebeccapurple;
  font-size: 45px;
  font-weight: bold;
  width: 100%;
  display: flex;
  font-weight: bolder;
  color: #0353a4;
  margin-top: 20px;
  margin-top: 5%;
  justify-content: center;
}
.containerPR {
  width: 100%;
  height: 500px;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
}
.containerItemCopiTrade {
  width: 30%;
  height: 70%;
  left: 0%;
  border-top-left-radius: 70%;
  border-bottom-right-radius: 36%;
  border-top-right-radius: 70%;
  border-radius: 50%;
  /* margin-left: 2%; */
}
.containerInfosSignaux {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.labelNb {
  font-size: 25px;
  font-weight: bold;
  color: #000000;
}
.nb {
  font-size: 25px;
  font-weight: bold;
  color: darkred;
}
.TypeSignaux {
  color: darkred;
  font-size: 30px;
  font-weight: bold;
}

.containerDetai {
  height: 70%;
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sGratuit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.projet {
  transition-duration: 1s;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  width: 80%;
}
.labelSingaux {
  font-size: 18px;
  color: hsl(210 96% 75% / 1);
  font-weight: bold;
  position: relative;
}
.labelSingauxGratuit {
  text-align: right;
}
.icoTypeSignaux {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 103%;
  border-radius: 5px;
  background-color: darkred;
  display: none;
}

.descripSignaux {
  width: 80%;
  margin-top: 10px;
  font-size: 18px;
  color: #000000bf;
}
.descripSignaux1 {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.descripSGratuit {
  text-align: right;
  justify-content: flex-end;
}

.Manuelle {
  margin-left: 10px;
  margin-right: 10px;
}
.Auto {
  margin-right: 15px;
}
.Gratuit,
.Manuelle,
.Auto {
  color: white;
  background: darkred;
  width: 80px;
  font-size: 12px;
  height: 30px;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.containerAffiliation {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 15%;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
.containerInfoAf {
  width: 75%;
  display: flex;
  justify-content: space-around;
}
.labelAf {
  margin-top: 3%;
  font-size: 35px;
  font-weight: 900;
  color: #0353a4;
}
.descripAf {
  width: 75%;
  text-align: center;
  font-weight: 900;
  margin-top: 5%;
  font-size: 60px;
}
.btnAf {
  background: #0353a4;
  width: 115px;
  height: 30px;
  color: #ffffffd9;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 13px;
  align-items: center;
  border-radius: 15px;
  margin-top: 3%;
}
.itemAf {
  height: 215px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  transition-duration: 1s;
  justify-content: center;
}
.itemAf:hover {
  background-color: #82bffc;
  justify-content: center;
  transform: scale(1.1);
}

.icoAf {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.icoAf2 {
  background: #b54aa2;
}
.titreItemAf {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}
.descriIcoAf {
  width: 255px;
  width: 150px;
  text-align: center;
  font-size: 15px;
  color: rgb(0 0 0 / 80%);
  /* font-weight: bold; */
  margin-top: 5px;
}

.containerFeature {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding-top: 15%;
}

.containerItemFeature {
  /* width: 190px; */
  height: 80%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.containerPhoto {
  position: relative;
  /* margin-bottom: 55px; */
  background: none;
}
.containerPhoto2 {
  right: 100px;
}
.containerPhoto22 {
  left: 100px;
}
.photoAvis {
  width: 75px;
  height: 75px;
  overflow: hidden;
  /* background: #607d8b; */
  border-radius: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgAvis {
  width: 55px;
  height: 55px;

  border-radius: 85px;
  background-color: #0353a4;
}
.avis {
  font-size: 45px;
  font-weight: bolder;
  color: #0353a4;
  margin-top: 3%;
}

.labelAvis {
  width: 60%;
  margin-top: 50px;
  font-size: 17px;
  text-align: center;
}
.nomAvis {
  width: 100%;
  text-align: center;
  font-size: 15px;
  display: none;
  margin-top: 7px;
  font-weight: bold;
  color: #0353a4;
}
.containerTextAvis {
  /* display: flex; */
  flex-direction: column;width: 500%;
  height: 40%;
  position: relative;
  margin-top: -25px;
}
.containerTextAvisX {
  width: 100%;
  display: none;
}
.containerTextAvisX1 {
  display: initial;
}
.nomAvisx {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #0353a4;
}
.textAvis {
  /* width: 500px; */
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 0.7px;
  color: #000000;
  /* height: 520px; */
  border-radius: 929px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.prev,
.next {
  position: relative;
  top: 35%;
  display: none;
}

.prev {
  left: 45%;
}

.next {
  right: 45%;
}
